* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  font-size: 1rem;
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: 300;
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 60%,#207cca 100%,#7db9e8 100%);
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 6rem 2rem;
  margin-top: 2rem;
}

.panel__title {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #444;
}

.panel__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 5rem;
  background-color: #2989d8;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 2rem;
  padding: 0;
  text-decoration: none;  
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3em;
}

.form__label {
  color: #bbb;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.form__input {
  width: 50%;
  border: 0;
  border-bottom: 1px solid #333;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.form__button {
  width: 30%;
  height: 5rem;
  background: #2989d8;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0;
}
 
@media (max-width: 1200px) {
  .panel__title {
    margin: 1rem;
  }
  .form__input {
    width: 60%;
  }
  .form__button,
  .panel__link {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .app__title {
    font-size: 4rem;
  }
  .panel {
    width: 60%;
    margin-top: 0;
    padding: 4rem 2rem;
  }
}

@media (max-width: 600px) {

  .app__title {
    font-size: 6rem;
    text-align: center;
  }
  .app__subtitle {
    text-align: center;
  }
  .panel {
    width: 90%;
  }
  .form__label,
  .form__input {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .app {
    height: auto;
  }
  .app__title {
    font-size: 4rem;
  }
  .app__subtitle {
    font-size: 2.4rem;
  }
  .container {
    height: auto;
  }
  .panel__title {
    font-size: 3rem;
  }
  .panel__link {
    margin-top: 1rem;
  }
}